@import "./mixins.scss";
@import "./screens.scss";
@import "./App.scss";
@import "./button.scss";
@import "./modal.scss";
@import "./navbar.scss";
@import "./home.scss";
@import "./partials.scss";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  // background: #1C1D21;
  color: #ffffff;

  p{
    margin: 0;
  }
}

