

@import "./mixins.scss";
@import "./screens.scss";

.input-box {
  width: 100%;
  @include flex(column, nill, nill);
  margin-bottom: 1rem;
  &.stake-input{
    margin-top: 5vh;
  }
  &.stake-type{
    margin-top: 5vh;
  }

  .head-box{
    @include flex(row, space-between, center);
    width: 100%;
    .label-box{
      justify-self: flex-start;
      width: 100%;
      .label{
        width: 100%;
        @include fonts(14, 17, 500);
        display: flex;
        align-items: center;
        // color: #000000;
        margin: 0 0 0.5rem 0;
        @include flex(row, nill, flex-start);
    
        .asterik{
          display: block;
          margin-left: 0.2vw;
          color: #FF6600;
        }
        .hide{
          display: none;
        }
      }
      .sub-label{
        // color: #6D6D6D;
        @include fonts(13, 17, 500);
        margin-bottom: 0.4rem;
      }
    }
    .input-right{
      justify-self: flex-end;
    }
  }
  
  .input-cont{
    width: 100%;
    border: 1px solid #707070;
    box-sizing: border-box;
    border-radius: 7px;
    height: 3rem;
    @include flex(row, space-between, center);
    margin-bottom: 1rem;
    @include screen("inbetween") {
      height: 3rem;
    }

    .input{
      width: 100%;
      @include flex(row, nill, center);
      height: 100%;
      border: none;
      box-sizing: border-box;
      border-radius: 60px;
      padding: 0 5%;
      @include fonts(14, 17, normal);
      display: flex;
      align-items: center;
      outline: none;
      background: transparent;
      color: #FFFFFF;
      @include screen("inbetween") {
        width: 100%;
        @include fonts(15, 21, bold);
      }
      &.stake-type{
        text-align: center;
        @include fonts(18, 22, normal);
      }
    }
    .suffix{
      width: 35%;
      height: 100%;
      box-sizing: border-box;
      @include flex(row, center, center);
      border-left: 0.5px solid #6D6D6D;
      @include screen("inbetween") {
        width: 45%;
      }
    
  }
  
  &.step-input{
    border: 2px solid #FF6600;
      input{
        width: 65%;
        color: #1F1F20;
      }
      .suffix{
        width: 35%;
      }
    @include screen("inbetween") {
      .input-cont{
        input{
          width: 60%;
        }
        .suffix{
          width: 40%;
        }
      }
    }
  }
}


  ///// label component //////
  .label-cont{
    @include flex(row, space-between, center);
    padding: 0 2vw;
    box-sizing: border-box;
    width: 100%;
    #label-text{
      @include fonts(18, 23, bold);
      // color: #6D6D6D;
      @include screen("inbetween") {
        @include fonts(14, 20, bold);
    }
    }
    .label-right{
      @include flex(row, nill, center);
      p{
        @include flex(row, nill, center);
        #available{
          @include fonts(12, 20, normal);
          // color: #6D6D6D;
        }
        #coin{
          @include fonts(12, 20, bold);
          margin-left: 0.3vw;
        }
        #max{
          background: #f3dbca;
          @include fonts(12, 16, bold);
          color: #FF6600;
          padding: 0.6vw 0.5vw;
          border-radius: 100px;
          margin-left: 1vw;
          cursor: pointer;
        }
      }
    }
  }

  .trasnaction-suffix{
    width: 80%;
    @include flex(row, space-between, center);
    #arrow{
      cursor: pointer;
    }
  }

  .step-suffix{
    width: 90%;
    @include flex(row, space-around, center);
    @include screen("inbetween") {
      width: 90%;
    }
    #coin{
      @include screen("inbetween") {
        width: 3vw;
        height: 3vh;
      }
    }
    #currency{
      @include fonts(15, 23, bold);
      @include screen("inbetween") {
        @include fonts(12, 20, bold);
      }
    }
  }
}

.input-label{
  width: 100%;
  @include flex(row, space-between, center);
  #label-right{
    color: #B1AFCD;
    @include fonts(10, 12, 500);
    #suffix-span{
      margin-left: 0.5vw;
    }
  }
}

