
@mixin flex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin fonts($size, $height, $weight ) {
	// font-family: 'Clan Pro Bold';
	font-family: 'Sarabun', sans-serif;
	font-style: normal;
	font-size: ($size / 16) + rem;
	line-height: ($height / 16) + rem;
	font-weight: $weight;
}

