
//////// Packages card ///// 
.card-cont{
    width: 31%;
    height: 55vh;
    // border: 1px solid red;
    @include flex(column, space-between, nill);
    // gap: 2.5%;
    @include screen("inbetween") {
        gap: 0;
        width: 100%;
        // padding: 5%;
        margin-bottom: 10vh;
    }
}
.card-dets{
    height: 10%;
}
.card-type{
    @include fonts(18, 18, 500);
    margin-bottom: 0.5rem;
    @include screen("inbetween") {
        margin-bottom: 0.5rem;
    }
    #limit{
        color: red;
    }
    #total{
        color: rgb(98, 204, 98);
    }
}
.package-card {
    width: 100%;
    height: 88%;
    // width: 31%;
    // min-height: 30vh;
    @include flex(column, space-around, nill);
    border-radius: 8px;
    padding: 2.5%;
    box-sizing: border-box;
    @include screen("inbetween") {
        height: 80%;
        width: 100%;
        padding: 5%;
        // margin-bottom: 5vh;
    }
    &.orange-bg{
        background-color: #FCB25B;
    }
    &.blue-bg{
        background-color: #3A5CD3;
    }
    &.black-bg{ 
        background-color: #939B97;
    }

    .card-name{
        @include fonts(22, 20, 600);
        margin-bottom: 2.5vh;
        @include screen("inbetween") {
            @include fonts(15, 20, 500);
        }
    }
    #limit{
        color: red;
    }
    .card-apy{
        @include fonts(81, 90, 600);
        margin-bottom: 10%;
        @include screen("inbetween") {
            @include fonts(50, 70, 600);
        }
        #apy{
            @include fonts(18, 20, 500);
            @include screen("inbetween") {
                @include fonts(15, 20, 500);
            }
        }
    }
}


////// Footer //////// 
footer {
    @include flex(row, space-between, center);
    margin-top: auto;
    padding: 5% 5% 2% 5%;
    box-sizing: border-box;
    @include screen("inbetween") {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0.5vh;
    }
    #copy{
        order: 1;
        @include fonts(12, 14, 500);
        color: #D1D1D1;
        @include screen("inbetween") {
            order: 2;
        }
    }
    .foot-menu{
        order: 2;
        @include flex(row, nill, center);
        list-style: none;
        margin: 0;
        padding: 0;
        @include screen("inbetween") {
            order: 1;
        }
        .foot-list{
            margin: 0 2vw 1vh 0;
            @include fonts(14, 17, 500);
            cursor: pointer;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}
