
//////// Packages card ///// 
.package-card {
    width: 31%;
    min-height: 30vh;
    border-radius: 8px;
    padding: 2.5%;
    box-sizing: border-box;
    @include screen("inbetween") {
        width: 100%;
        padding: 5%;
        margin-bottom: 5vh;
    }
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 14px 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    .card-type-desc{
        font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 143%;
    display: flex;
    align-items: center;
    color: #8E93A4;
    }
    .card-type{
        @include fonts(18, 20, 500);
        margin-bottom: 2.5vh;
        font-family: Fira Sans;
       font-style: normal;
       font-weight: 500;
        @include screen("inbetween") {
            @include fonts(15, 20, 500);
        }
    }
    .card-apy{
        @include fonts(81, 90, 600);
        margin-bottom: 10%;
        @include screen("inbetween") {
            @include fonts(50, 70, 600);
        }
        #apy{
            @include fonts(18, 20, 500);
            @include screen("inbetween") {
                @include fonts(15, 20, 500);
            }
        }
    }
}

.containerBanner{
    position: relative;
    text-align: center;
   
}

.top-left-banner{
    position: absolute;
    top: 10vh;
    left: 8vw;
    font-family: Fira Sans;
font-style: normal;
font-weight: bold;
font-size: 18.4612px;
line-height: 143%;
/* or 26px */


color: #FDFDFD;
}

.banner-img{
    @media only screen and (min-width: 600px)  {
		width: 60vw;
	}
	@media screen  and (max-width: 400px){
        width: 82vw;
	}

    @media screen  and (max-width: 768px){
        width: 80vw;
	}
    
}
.centered-banner {
    @media only screen and (min-width: 600px)  {
        position: absolute;
        top: 20vh;
        left: 53vw;
        transform: translate(-50%, -50%);
        background-color: #E46D28;
	}
	@media screen  and (min-height: 812px) and (max-width: 813px) {
        position: absolute;
    top: 10vh;
    left: 71vw;
    transform: translate(-50%, -50%);
    background-color: #E46D28;
    height: 14px;
	}

    @media screen  and (min-width: 375px) and (max-width: 376px) {
        position: absolute;
    top: 7vh;
    left: 71vw;
    transform: translate(-50%, -50%);
    background-color: #E46D28;
    height: 23px;
	}

    @media screen  and (min-width: 414px) and (max-width: 415px) {
        position: absolute;
    top: 7vh;
    left: 71vw;
    transform: translate(-50%, -50%);
    background-color: #E46D28;
    height: 14px;
	}
    @media screen  and (min-width: 411px) and (max-width: 412px) {
        position: absolute;
    top: 7vh;
    left: 71vw;
    transform: translate(-50%, -50%);
    background-color: #E46D28;
    height: 14px;
	}

    @media screen  and (max-width: 360px){
        position: absolute;
    top: 7vh;
    left: 72vw;
    transform: translate(-50%, -50%);
    background-color: #E46D28;
    height: 14px;
	}
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // @media screen  and (max-width: 768px){
    //     position: absolute;
    // top: 10vh;
    // left: 70vw;
    // transform: translate(-50%, -50%);
    // background-color: #E46D28;
	// }
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        position: absolute;
            top: 8vh;
            left: 53vw;
            transform: translate(-50%, -50%);
            background-color: #E46D28;
  }

   
  }

  .arrowClassBanner{
    @media only screen and (min-width: 600px)  {
        height: 3vh;
	}
	@media screen and (min-width: 375px) and (max-width: 400px){
        height: 1vh;
	}

    @media screen  and (min-width: 360px) and (max-width: 361px){
        height: 2vh;
	}
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 2vh;
  }
    // @media screen  and (max-width: 768px){
    //     height: 2vh;
	// }
    // @media screen  and (max-width: 1024px){
    //     height: 2vh;
	// }
  
  }
.bottom-right-banner {
    position: absolute;
    bottom: 20vh;
    right: 14vw;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18.4612px;
    line-height: 143%;
    width: 10vw;
    color: #FFFFFF;
    width: 200px;
    height: 57px;
/* or 19px */


color: #FFFFFF;
  }


////// Footer //////// 
footer {
    @include flex(row, space-between, center);
    margin-top: auto;
    padding: 5% 5% 2% 5%;
    box-sizing: border-box;
    @include screen("inbetween") {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0.5vh;
    }
    #copy{
        order: 1;
        @include fonts(12, 14, 500);
        color: #D1D1D1;
        @include screen("inbetween") {
            order: 2;
        }
    }
    .foot-menu{
        order: 2;
        @include flex(row, nill, center);
        list-style: none;
        margin: 0;
        padding: 0;
        @include screen("inbetween") {
            order: 1;
        }
        .foot-list{
            margin: 0 2vw 1vh 0;
            @include fonts(14, 17, 500);
            cursor: pointer;
        }
    }
}
