
//////// Packages card ///// 
.package-card {
    width: 31%;
    min-height: 30vh;
    border-radius: 8px;
    padding: 2.5%;
    box-sizing: border-box;
    @include screen("inbetween") {
        width: 100%;
        padding: 5%;
        margin-bottom: 5vh;
    }
    &.orange-bg{
        // background-image: url("../images/orange-bg.svg");
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: initial;
        background: linear-gradient(180deg, #FCB25B 0%, rgba(252, 178, 91, 0.05) 82.74%);
    }
    &.blue-bg{
        // background-image: url("../images/blue-bg.svg");
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center;
        background: linear-gradient(180deg, #3A5CD3 0%, rgba(17, 49, 160, 0.3) 100%);
    }
    &.black-bg{
        // background-image: url("../images/card-black-bg.png");
        // background-size: contain;
        // background-repeat: no-repeat;
        // background-position: center;
        background: linear-gradient(236.79deg, #939B97 30.22%, rgba(147, 155, 151, 0) 69.08%); 
    }


    .card-type{
        @include fonts(18, 20, 500);
        margin-bottom: 2.5vh;
        @include screen("inbetween") {
            @include fonts(15, 20, 500);
        }
    }
    .card-apy{
        @include fonts(81, 90, 600);
        margin-bottom: 10%;
        @include screen("inbetween") {
            @include fonts(50, 70, 600);
        }
        #apy{
            @include fonts(18, 20, 500);
            @include screen("inbetween") {
                @include fonts(15, 20, 500);
            }
        }
    }
}


////// Footer //////// 
footer {
    @include flex(row, space-between, center);
    margin-top: 5vh;
    padding: 5% 5% 2% 5%;
    box-sizing: border-box;
    @include screen("inbetween") {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0.5vh;
    }
    #copy{
        order: 1;
        @include fonts(12, 14, 500);
        color: #D1D1D1;
        @include screen("inbetween") {
            order: 2;
        }
    }
    .foot-menu{
        order: 2;
        @include flex(row, nill, center);
        list-style: none;
        margin: 0;
        padding: 0;
        @include screen("inbetween") {
            order: 1;
        }
        .foot-list{
            margin: 0 2vw 1vh 0;
            @include fonts(14, 17, 500);
            cursor: pointer;
        }
    }
}
